<div class="container bgimg" align="center">
	<div>
		<img src="/assets/logo.png" class="logo">
	</div>
	<div class="catch-phrase">
		Get a Free Reverse Mortgage Guide
	</div>
	<div class="formimg">
		<div class="form-heading">
			How Much Do You Qualify For?
		</div>
		<div class="progress">
			<div class="bar" style="width:30%;"></div>
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<%= f.label :home_value, 'The value of your home is:' %>
			<%= f.select :home_value, home_value_options, {:include_blank => 'Select from'}, :onchange => ("$('#form1').submit()") %>
			<div id="newsubmit1"/>
		<% end %>
	</div>
</div>
<div class="container">
	<img src="/assets/logos.png" class="logos">
</div>

<%= render partial: 'users/form2' %>
<%= render partial: 'users/form3' %>
<%= render partial: 'users/form4' %>
<%= render partial: 'users/form5' %>

